.appointment-section-grooming{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.appointment-section-grooming > *{
    flex-basis: 50%;
}

.appointment-section-content-grooming{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.appointment-section-title-grooming{
    text-align: center;
    font-size: 3rem;
}

.appointment-section-description-grooming{
    text-align: center;
    max-width: 30ch;
}

