.app{
  font-size: 2rem;
}

.buttons-primary{
  padding: 1.5rem 3rem;
  border: 0;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--clr-main);
  font-weight: 400;
}

.container{
  padding-inline: clamp(60px,10vw,280px);
}